In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from joblib import dump, load
from datetime import datetime, timedelta
from datetime import date
import pytz
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [14]:
areas_ = []
for i in range(9):
    filename = 'area' + str(i) + '.csv'
    areas_.append(pd.read_csv(filename))

In [15]:
areas = pd.DataFrame(columns={'segmentid','time','occupied'})
for i in range(9):
    area_ = areas_[i][['segmentid','timestamp_hour','avg_occupied']]
    area_ = area_.rename(columns={'timestamp_hour':'time','avg_occupied':'occupied'})
    area_ = area_.fillna(0)
    for each in pd.unique(area_['segmentid']):
        areas = areas.append(area_[area_['segmentid']==each])
areas['occupied'] = np.round(areas['occupied'])

In [16]:
areas['weekday'] = 0

In [17]:
areas.to_csv('testdata.csv', index=False)

In [18]:
all_lots = pd.read_csv('testdata.csv')
all_lots['weekday'] = 0
for i in range(len(all_lots)):
    all_lots.at[i,'weekday'] = date.weekday(parser.parse(all_lots.at[i,'time']))
    all_lots.at[i,'time'] = parser.parse(all_lots.at[i,'time']).hour

In [19]:
all_lots.to_csv('testdata.csv', index=False)

In [20]:
pd.unique(all_lots['occupied'])

array([ 0.,  1.,  2.,  3.,  6.,  5.,  8.,  9., 10.,  7., 11.,  4., 12.,
       13., 14., 16., 15., 17., 18., 25., 21., 20., 19., 23., 24., 26.,
       22., 27., 28., 30., 31., 32., 29., 33., 34.])

In [21]:
areas

       occupied segmentid                      time  weekday
0           0.0    305002  2013-06-13T00:00:00.000Z        0
1           0.0    305002  2013-06-13T01:00:00.000Z        0
2           0.0    305002  2013-06-13T02:00:00.000Z        0
3           0.0    305002  2013-06-13T03:00:00.000Z        0
4           0.0    305002  2013-06-13T04:00:00.000Z        0
...         ...       ...                       ...      ...
68539       1.0    830022  2013-07-24T19:00:00.000Z        0
68540       1.0    830022  2013-07-24T20:00:00.000Z        0
68541       1.0    830022  2013-07-24T21:00:00.000Z        0
68542       1.0    830022  2013-07-24T22:00:00.000Z        0
68543       0.0    830022  2013-07-24T23:00:00.000Z        0

[423360 rows x 4 columns]

In [22]:
date.weekday(all_lots.at[0,'time'])

TypeError: descriptor 'weekday' requires a 'datetime.date' object but received a 'int'